{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, I'm Jefferson! I love solving problems and I'm a tech fanatic.
        I am a Full Stack Developer and a freelancer.You can find me on GitHub as <a class="about__link" href="https://github.com/JeffersonWes">JeffersonWes</a>
        It's been over 6 years since I started coding.I love learning new things and I'm a consistent worker. I am currently pursuing M.Tech Cse(Integrated Course) degree
        in Sri Krishna ColLege Of Engineering and Technology.
    </p>
    <p>
        Coding is extremely rewarding, same for problem solving. The first problem i solved was creating a bootable flash drive
        for my computer when i was in 6th grade.Yes you heard it right! It all started because of my dad.
        He refused to call a technician for installing an os on my computer which was not operational due to a missing boot file caused by me.
        His no made me sad at first, but motivated me to learn and do things myself. I was able to solve the problem and install the os on my computer.
        It was my first achievement! From then, i decided to learn coding and became a DevOps Engineer to help people find a solution to their problems.
        
    </p>
    <p>
        I can help people with hardware and os issue in their computer.
        I'm experienced with programming library and framework like Flask.
        I've worked extensively with UNIX systems, MongoDB, Full Stack Development.
    </p>
</main>

{% endblock %}