{% extends "base.html" %}
{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:jeffer7007@g,ail.com">
                    Jeff7007 [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/JeffersonWes">
                    @JeffersonWes
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/jefferson-wesley-179252255">
                    Jefferson Wesley
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Twitter:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://twitter.com/JEFFERSONPRIN13">
                    @JEFFERSONPRIN13
                </a>
            </dd>
        </div>
        
    </dl>
</main>
{% endblock %}